@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .global-container {
    @apply max-w-7xl mx-auto px-2 sm:px-4 lg:px-6 xl:px-8;
  }
}

/* Extra Rules */
@layer components {
  .loader {
    width: 1%;
    animation: loader forwards 4s ease-in;
  }

  @keyframes loader {
    0% {
      width: 1%;
    }
    100% {
      width: 100%;
    }
  }

  .padding {
    @apply px-2 py-3 md:px-3 md:py-4 lg:px-4 lg:py-5;
  }

  /* blogs class */
  .blog-styles {
    color: black;
  }

  .blog-styles p {
    @apply text-base sm:text-lg;
    color: black;
    font-weight: 400;
    margin: 0.5em 0;
    text-align: justify;
  }

  .blog-styles a {
    color: #a03131;
    text-decoration: none;
  }

  .blog-styles a:hover {
    color: #e64242;
    text-decoration: none;
  }

  .blog-styles h1 {
    @apply text-2xl sm:text-3xl md:text-4xl mt-1 mb-1 font-[800];
  }

  .blog-styles h2 {
    @apply text-xl sm:text-2xl md:text-3xl mt-1 mb-1 font-bold;
  }

  .blog-styles h3 {
    @apply text-lg sm:text-xl md:text-2xl mt-1 mb-1 font-semibold;
  }

  .blog-styles h4 {
    @apply text-base sm:text-lg md:text-xl mt-1 mb-1 font-medium;
  }

  .blog-styles h5 {
    @apply text-sm sm:text-base md:text-lg mt-1 mb-1 font-normal;
  }

  .blog-styles h6 {
    @apply text-xs sm:text-sm md:text-base mt-1 mb-1 font-light;
  }

  .blog-styles ul,
  .blog-styles ol {
    margin: 0.3em 0;
    padding: 0 0.4em;
  }

  .blog-styles ol li {
    @apply text-base sm:text-lg;
    list-style: decimal;
    margin: 0.6em 0;
    line-height: 1.75;
  }

  .blog-styles ul li {
    @apply text-base sm:text-lg;
    list-style: disc;
    margin: 0.6em 0;
    line-height: 1.75;
  }

  .blog-styles mark {
    background-color: rgb(255, 255, 190);
  }

  .blog-styles img {
    object-fit: cover;
    margin: 0.2em auto;
  }

  .blog-styles blockquote {
    padding: 0.2em;
    margin: 0.2em 0;
    border-left: 2px solid black;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
  }

  .blog-styles table {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    color: black;
  }

  .blog-styles table th {
    padding: 0.2em;
    text-align: left;
    font-weight: 700;
    border: 1px solid black;
    background-color: crimson;
    color: white;
  }

  .blog-styles table td {
    padding: 0.2em;
    text-align: left;
    border: 1px solid black;
  }

  .blog-styles table tr:nth-of-type(2n) {
    background-color: rgb(240, 240, 240);
  }

  /* Style for Demo */
  .demo h2 {
    @apply text-4xl leading-[1.6] font-bold text-center py-4 break-words;
  }

  .demo h3 {
    @apply text-2xl font-bold text-center py-2 break-words;
  }

  .demo h4 {
    @apply text-xl font-bold text-center py-2 break-words;
  }

  .demo p {
    @apply py-4 px-2 text-justify break-words max-w-[90%] mx-auto;
  }

  .demo ol,
  .demo ul {
    @apply flex flex-col mx-6 py-2;
  }

  .demo ol p,
  .demo ul p {
    @apply py-1 break-words;
  }

  .demo li {
    @apply break-words max-w-[80vw];
  }

  .demo span {
    @apply font-bold break-words;
  }
}
